@font-face {
    font-family: Santio;
    src: url("../font/SANTIO/TTF/Santio\ regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../font/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("../font/Inter/Inter-Regular.ttf");
}

@font-face {
    font-family: MrDafoe;
    src: url("../font/MrDafoe/MrDafoe-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Santio;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background-color: transparent;
    gap: 1.25rem;
}

header img {
    width: 20px;
}

header a {
    padding: 0 4rem 0 0;
}

.parallax {
    background-image: url("../img/cleo-topper.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax section:first-of-type {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 8.23rem;
    margin-left: 8.23rem;
    width: 16.62rem;
    font-family: Inter;
    font-size: 4.25rem;
    font-weight: 700;
    color: white;
}

.parallax section:first-of-type :nth-child(2) {
    font-family: MrDafoe;
    font-size: 2rem;
    font-weight: 400;
    color: #E7BC0E;
    letter-spacing: -2px;
}

.parallax section:nth-of-type(2) {
    width: 30.62rem;
    color: #6BC1A3;
    font-size: 2.2rem;
    line-height: 3.07rem;
    margin-top: 13.35rem;
    margin-left: 14.81rem;
}

.parallax section:nth-of-type(2) p span {
    color: white;
}

.parallax section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8.23rem;
    padding-top: 9.92rem;
    padding-bottom: 7.03rem;
    width: 790px;
    margin: 26.29rem auto 0.78rem auto;
}

.parallax section:nth-of-type(3) img {
    height: 105px;
}

.parallax section:nth-of-type(3) h2 {
    font-size: 8.69rem;
    color: #E7BC0E;
}

.parallax section:nth-of-type(3) p {
    color: #E7BC0E;
    font-size: 3.14rem;
}

.parallax section:nth-of-type(3) p span {
    color: white;
    background-color: #333;
    font-size: 2.64rem;
}

.parallax section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8.23rem;
    padding-top: 8.23rem;
    padding-bottom: 5.57rem;
}

.parallax section:nth-of-type(4) img {
    height: 105px;
}

.parallax section:nth-of-type(4) h2 {
    font-size: 5.98rem;
    color: #CB91B6;
}

.parallax section:nth-of-type(4) p {
    color: #CB91B6;
    font-size: 3.26rem;
}

.parallax section:nth-of-type(4) p span {
    color: white;
    background-color: #333;
    font-size: 2.64rem;

}

.parallax section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 17.37rem;
}

.parallax section:nth-of-type(5) img {
    height: 105px;
}

.parallax section:nth-of-type(5) h2 {
    font-size: 6.94rem;
    color: #6BC1A3;
}

.parallax section:nth-of-type(5) p {
    color: #6BC1A3;
    font-size: 3.26rem;
}

.parallax section:nth-of-type(5) p span {
    color: white;
    background-color: #333;
    font-size: 2.64rem;
}

.parallax section:nth-of-type(6) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.parallax section:nth-of-type(6) p {
    color: #7EB8E1;
    font-size: 2.2rem;
}

.parallax section:nth-of-type(6) p span {
    color: white;
    background-color: #333;
}

.page7 img {
    width: 100vw;
    background-image: url("../img/see.png");
    background-repeat: no-repeat;
    background-size: 100vw;
}

.page8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
}

.page8 p {
    color: white;
    font-size: 2.94rem;
}

button {
    font-family: Roboto;
    padding: 1rem 1.6rem;
}
